In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("summer.csv")

In [3]:
df.head()

   Year    City     Sport  ... Gender                       Event   Medal
0  1896  Athens  Aquatics  ...    Men              100M Freestyle    Gold
1  1896  Athens  Aquatics  ...    Men              100M Freestyle  Silver
2  1896  Athens  Aquatics  ...    Men  100M Freestyle For Sailors  Bronze
3  1896  Athens  Aquatics  ...    Men  100M Freestyle For Sailors    Gold
4  1896  Athens  Aquatics  ...    Men  100M Freestyle For Sailors  Silver

[5 rows x 9 columns]

##1. In how many cities Summer Olympics is held so far?

In [38]:
len(df['City'].unique())

14

##2. Which sport is having most number of Gold Medals so far? (Top 5)

In [10]:
df[df['Medal']  == 'Gold']

       Year    City      Sport  ... Gender                       Event Medal
0      1896  Athens   Aquatics  ...    Men              100M Freestyle  Gold
3      1896  Athens   Aquatics  ...    Men  100M Freestyle For Sailors  Gold
6      1896  Athens   Aquatics  ...    Men             1200M Freestyle  Gold
9      1896  Athens   Aquatics  ...    Men              400M Freestyle  Gold
13     1896  Athens  Athletics  ...    Men                        100M  Gold
...     ...     ...        ...  ...    ...                         ...   ...
12471  1968  Mexico     Rowing  ...    Men    Eight With Coxswain (8+)  Gold
12485  1968  Mexico     Rowing  ...    Men  Four Without Coxswain (4-)  Gold
12486  1968  Mexico     Rowing  ...    Men  Four Without Coxswain (4-)  Gold
12487  1968  Mexico     Rowing  ...    Men  Four Without Coxswain (4-)  Gold
12488  1968  Mexico     Rowing  ...    Men  Four Without Coxswain (4-)  Gold

[4347 rows x 9 columns]

In [34]:
data = []

for sport in df['Sport'].unique():
    print(sport,":",len(df[df['Medal']  == 'Gold']))

Aquatics : 4347
Athletics : 4347
Cycling : 4347
Fencing : 4347
Gymnastics : 4347
Shooting : 4347
Tennis : 4347
Weightlifting : 4347
Wrestling : 4347
Archery : 4347
Basque Pelota : 4347
Cricket : 4347
Croquet : 4347
Equestrian : 4347
Football : 4347
Golf : 4347
Polo : 4347
Rowing : 4347
Rugby : 4347
Sailing : 4347
Tug of War : 4347
Boxing : 4347
Lacrosse : 4347
Roque : 4347
Hockey : 4347
Jeu de paume : 4347
Rackets : 4347
Skating : 4347
Water Motorsports : 4347
Modern Pentathlon : 4347
Ice Hockey : 4347
Basketball : 4347
Canoe / Kayak : 4347
Handball : 4347
Judo : 4347
Volleyball : 4347

##3. Which sport is having most number of medals so far? (Top 5)

In [40]:
data = []

for medal in df['Medal'].unique():
    print(medal,":",len(df['Sport']))

Gold : 12492
Silver : 12492
Bronze : 12492
nan : 12492

##4. Which player has won most number of medals? (Top 5)

In [43]:
pd.DataFrame(data,columns = ['Athlete','freq']).sort_values(by='freq', ascending=False).plot(x = 'Athlete', y = 'freq', kind = 'bar', figsize = (10,5))

TypeError: ignored

##5. Which player has won most number Gold Medals of medals? (Top 5)

In [ ]:
pd.DataFrame(data,columns = ['Athlete','freq']).sort_values(by='freq', ascending=False).plot(x = 'Athlete', y = 'freq', kind = 'bar', figsize = (10,5))

##6. In which year India won first Gold Medal in Summer Olympics?

##7. Which event is most popular in terms on number of players? (Top 5)

##8. Which sport is having most female Gold Medalists? (Top 5)

In [42]:
data=[]
if (df['Gender']  == 'Women')
  data.append()

SyntaxError: ignored